body {
    background-color: lightgray;
}

.navbar-container {
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-family: cursive;
}

@media (max-width: 1000px) {
    body {
        background-color: lightgray;
    }

    .navbar-container {
        padding: 20px;
        text-align: center;
        font-size: 20px;
        font-family: cursive;
    }

    .navbar-img {
        width: 300px;
        height: 150px;
    }
}